
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


main {
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #111827;
}

p {
    color: red;
}
