* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
}

.divBoard {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #111827;
}

.square {
    outline: 2px solid red;
    height: 50%;
    width: 50%;
    background-color: yellow;
}

p {
    color: red;
}
