@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    gap: 10px;
}

header {
    background-color: #fde68a;
}

#title {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3rem;
}

main {
    display: grid;
    grid-template-rows: 70px 60px 1fr;
    gap: 10px;
}

.title-div {
    justify-self: center;
}

.button-add {
    justify-self: center;
}

#add {
    border: none;
    background-color: transparent;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.bi-plus-circle {
    font-size: 2.8rem;
}

p {
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.books {
    width: 90%;
    justify-self: center;
    display: flex;
    justify-content: center;
}

.dialog-container {
    display: flex;
    height: 100%;
    width: 80%;
}

#dialog {
    align-self: center;
    justify-self: center;
    width: 20%;
    height: 50%;
    position: fixed;
    top: 30%;
    left: 40%;
    border: none;
    outline: none;
}

form {
    padding: 10px;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Quattrocento Sans', sans-serif;
}

form > div {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #E5E7EB;
    margin-left: 5px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
}

label {
    font-size: 2rem;
}

.buttons-form {
    height: 10%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 45%;
    margin-top: 30px;
}

#save, #closed {
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    width: 60%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
#save {
    width: 70%;
}

.content {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 10px;
}

.book {
    border: none;
    border-radius: 15px;
    background-color: rgba(17, 26, 39, 0.95);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    color: wheat;
}

.status {
    width: 50%;
    background-color: red;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

.delet {
    background-image: url('/images/trash.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 15%;
    height: 100%;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    scale: 0.9;
    transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
    transform: translate(0, 0);
}

.delet:hover {
    background-color: red;
}

footer {
    background-color: #0f172a;
}

footer, ol {
    display: flex;
    justify-content: center;
    align-items: center;
}

ol {
    gap: 30px;
}

li {
    list-style: none;
}

.bi-twitter, .bi-github {
    background-color: wheat;
    border-radius: 50px;
    font-size: 2rem;
    cursor: pointer;
}