@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav {
    padding: 2rem;
    background-color: #EEEEEE;
}

#navbar-ul {
    display: flex;
    justify-content: end;
    gap: 20px;
}

#navbar-ul > li {
    list-style: none;
}

#sobre-mi, #proyectos, #contactos, #ayuda {
    text-decoration: none;
    color: black;
    font-family: 'Rubik Dirt', cursive;
    font-weight: bold;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.content {
    background-color: #030F12;
    height: 200px;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: wheat;
}

#gallery {
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: 620px 620px 620px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-show {
    display: flex;
    flex-direction: column;
}

#btn {
    display: none;
    position: fixed;
    top: 5%;
    left: 0%;
    cursor: pointer;
    z-index: 2;
    width: 45px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #EEEEEE;
    background-color: #010609;

}

#show {
    display: none;
    z-index: 1;
    position: absolute;
    width: 91%;
    height: 91%;
    top: 5%;
    left: 5%;  
    background-image: url('https://cdn.pixabay.com/photo/2017/03/27/13/05/conifers-2178595_1280.jpg');
    background-size: cover;
    background-position: center;
}

#contact {
    background-color: #010609;
}

#contact-list {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#contact-list > li {
    list-style: none;
}

#contact-list > li > a:hover{
    background-color: #010609;
}

#contact-list > li > a > i{
    font-size: 1.8rem;
}
