@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav {
    padding: 2rem;
    background-color: #EEEEEE;
}

#navbar-ul {
    display: flex;
    justify-content: end;
    gap: 20px;
}

#navbar-ul > li {
    list-style: none;
}

#sobre-mi, #proyectos, #contactos, #ayuda {
    text-decoration: none;
    color: black;
    font-family: 'Rubik Dirt', cursive;
    font-weight: bold;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.content {
    background-color: #030F12;
    height: 200px;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: wheat;
}

#gallery {
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: 620px 620px 620px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#contact {
    background-color: #010609;
}

#contact-list {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#contact-list > li {
    list-style: none;
}

a {
    color: #EEEEEE;
}

#contact-list > li > a:hover{
    background-color: #010609;
}

#contact-list > li > a > i{
    font-size: 1.8rem;
}

#show-images {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(3, 15, 18, 0.8);
    top: 0%;
    width: 100%;
    height: 100%;
}

#remove {
    display: none;
    background-color: #010609;
    color: #EEEEEE;
    position: fixed;
    z-index: 1;
    top: 2%;
    left: 1%;
    width: 3%;
    height: 3%;
}

#show {
    display: none;
    z-index: 1;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 5%;
    left: 10%; 
    background-size: cover;
    background-position: center;
}

@media (max-width: 1024px) {

    #navbar-ul {
        display: flex;
        justify-content: space-around;
    }

    #sobre-mi, #proyectos, #contactos, #ayuda {
        font-size: 14px;
        font-weight: bold;
        color: #030F12;
    }

    .content {
        display: flex;
        justify-content: center;
    }
    .content > p {
        font-size: 15px;
    }

    #gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #contact-list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    #show {
        width: 90%;
        height: 45%;
    }
    
    #remove {
        width: 5%;
    }
}