
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    /*border: 2px solid yellow;*/
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

main {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*border: 2px solid blue;*/
}

#input-button {
    display: flex;
    justify-content: center;
    gap: 15px;
    /*border: 2px solid blue;*/

}

#inpt {
    padding: 10px;
    /*border: none;*/
    font-size: 20px;
    width: 60%;
    outline: none;
    /*background-color: rebeccapurple;*/
}

#btn {
    width: 15%;
    font-size: 20px;
    cursor: pointer;
}

#section-list {
    height: 50px;
    width: 100px;
    display: flex;
}

li > button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

footer > li {
    list-style: none;
    display: inline-block;
}
