
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #232323;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
}

#inpt-div {
    background-color: rebeccapurple;
    padding: 20px;
    width: 38%;
    height: 17%;
    margin-bottom: -20px;
    border-radius: 10px;
}

#opt {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#inpt {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#opt, #inpt {
    background-color: #EEEEEE;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 35px;
    height: 50%;
}

#btns {
    background-color: rebeccapurple;
    padding: 20px;
    width: 38%;
    height: 50%;
    display: grid;
    gap: 5px;
    border-radius: 10px;
}

#btns > button {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2px;
}

#zero {
    grid-column: 1 / span 2;
}

#equal {
    grid-row : 4 / span 2;
    grid-column: 4;
}

button {
    cursor: pointer;
    border-radius: 10px;
}

/*@media (max-width: 1220px) {
    .container {
        width: 95%;
    }
    #inpt-div {
        width:89%;
        height: 17%;
    }
    #btns {
        width: 89%;
        height: 50%;
        padding: 15px;
    }
    #btns > button {
        font-weight: bold;
        margin: 0px;
    }
}*/

